go 1.21.6

use (
	bytedance_gopkg
	client-go
	concurrency
	copier
	docker-client
	go-redis
	gopsutil
	kakfa-sarama
	kitex
	mapstructure
	train-club
	guestbook
	viper
	kubebuider-tutorial
	Ginkgo
	go_programming_pattern
	leetcode
	100-mistakes
)
